<ul class="nav nav-tabs">
    <nav>
      <li class="nav-item"><a class="nav-link" routerLink="/hr/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/hr/employee" routerLinkActive="active">Personal Profile</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/hr/visa" routerLinkActive="active">Visa Status Management</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/hr/hire" routerLinkActive="active">Hire</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/hr/house" routerLinkActive="active">House Management</a></li>
      <!-- <li class="nav-item"><a class="nav-link" routerLink="/user/home" routerLinkActive="active">User Home</a></li> -->
      <li class="nav-item"><a class="nav-link" routerLink="/hr/logout" routerLinkActive="active">Logout</a></li>
    </nav>
</ul>
<br>
<div class="container text-center">
  <h1>Welcome, {{username}}</h1>
</div>


