<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/user/home']" routerLinkActive="router-link-active">HomePage</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/user/employee']" routerLinkActive="active">Personal Information</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/user/visa']" routerLinkActive="active">Visa Status</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/user/housing']" routerLinkActive="active">Housing</a></li>
    <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/user/onboard']" routerLinkActive="active">On boarding Test</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/hr/home']" routerLinkActive="active">HR page</a></li> -->
    <li class="nav-item"><a class="nav-link" [routerLink]="['/user/logout']" routerLinkActive="active">Logout</a></li>
</ul>
<br>
<div class="container text-center">
  <h1>Welcome, {{username}}</h1>
</div>